<div class="list row">
  <div class="col-md-6">
    <h4>Employee List</h4>
  </div>
  <div class="col-md-6">
    <table mat-table class="mat-elevation-z8">
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
        <th>Employee Age</th>
        <th>Profile Image</th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
      </tr>
      <tr *ngFor="let emp of employees">
        <td>{{ emp.id }}</td>
        <td>{{ currentEmployee.employee_name }}</td>
        <td>{{ currentEmployee.employee_salary }}</td>
        <td>{{ currentEmployee.employee_age }}</td>
        <td>{{ currentEmployee.profile_image}}</td>
        <td><a routerLink="/Edit/{{currentEmployee.id}}" class="nav-link">Edit</a></td>
        <td><a routerLink="/Details/{{currentEmployee.id}}" class="nav-link">Details</a></td>
        <td><a class="badge badge-warning" href="/delete/{{ currentEmployee.id }}">
          Delete
        </a></td>
      </tr>
    </table>
  </div>
</div>